{% extends "menu_footer.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css')}}">
{% endblock %}

{% block scripts %}
    {%if session.user['is_admin']%}
    <script type="module" src="{{url_for('static', filename='js/camera_admin.js')}}"></script>
    {%else%}
    <p>{{edit}}</p>
    <script type="module" src="{{url_for('static', filename='js/camera.js')}}"></script>
    {%endif%}
{% endblock %}

{% block page_content %}
    <div class="card mx-auto mt-4 report--card mb-4" style="min-width: 200px; max-width: 1000px; width: 80%;">
        <div class="card-header d-flex justify-content-between">
            <a class="report--link" href="#">Câmera monitorada</a>
            {%if session.user['is_admin']%}
                <button id="cleanButton" type="button" class="report--link d-inline btn btn-link py-0" href="#"> <i class="bi bi-arrow-clockwise"></i> LIMPAR</button>
            {%endif%}
        </div>
        <div class="card-body">
            <div class="mx-auto" id="svgc"></div>
        </div>
    </div>
{%endblock%}